In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("messy.csv")
df

          Time Stamp,"Time Zone","Name","PTID";"Load"
0       01/01/2004 00:00:00,"EST","CAPITL",61757,1015
1       01/01/2004 00:00:00,"EST","CAPITL",61757,1015
2       01/01/2004 00:00:00,"EST","CENTRL",61754,1651
3        01/01/2004 00:00:00,"EST","DUNWOD",61760,618
4        01/01/2004 00:00:00,"EST","GENESE",61753,972
5       01/01/2004 00:00:00,"EST","HUD VL",61758,1120
6        01/01/2004 00:00:00,"EST","MHK VL",61756,645
7        01/01/2004 00:00:00,"EST","MILLWD",61759,223
8     01/01/2004 00:00:00,"EST","N.Y.C._LONGIL",,7267
9         01/01/2004 00:00:00,"EST","NORTH",61755,622
10        01/01/2004 00:00:00,"EST","WEST",61752,1591
11      01/01/2004 00:00:47,"EST","CAPITL",61757,1016
12      01/01/2004 00:00:47,"EST","CENTRL",61754,1653
13       01/01/2004 00:00:47,"EST","DUNWOD",61760,615
14       01/01/2004 00:00:47,"EST","GENESE",61753,985
15      01/01/2004 00:00:47,"EST","HUD VL",61758,1106
16       01/01/2004 00:00:47,"EST","MHK VL",61756,641
17       01/01/2004 00:00:47,"EST","MILLWD",61759,228
18    01/01/2004 00:00:47,"EST","N.Y.C._LONGIL",,7272
19        01/01/2004 00:00:47,"EST","NORTH",61755,625
20        01/01/2004 00:00:47,"EST","WEST",61752,1609
21      01/01/2004 00:01:47,"EST","CAPITL",61757,1021
22      01/01/2004 00:01:47,"EST","CENTRL",61754,1647
23       01/01/2004 00:01:47,"EST","DUNWOD",61760,618
24       01/01/2004 00:01:47,"EST","GENESE",61753,980
25      01/01/2004 00:01:47,"EST","HUD VL",61758,1096
26       01/01/2004 00:01:47,"EST","MHK VL",61756,636
27       01/01/2004 00:01:47,"EST","MILLWD",61759,221
28    01/01/2004 00:01:47,"EST","N.Y.C._LONGIL",,7232
29        01/01/2004 00:01:47,"EST","NORTH",61755,641
...                                               ...
3879     01/01/2004 23:45:47,"EST","CAPITL",61757,975
3880    01/01/2004 23:45:47,"EST","CENTRL",61754,1643
3881     01/01/2004 23:45:47,"EST","DUNWOD",61760,584
3882     01/01/2004 23:45:47,"EST","GENESE",61753,920
3883    01/01/2004 23:45:47,"EST","HUD VL",61758,1036
3884     01/01/2004 23:45:47,"EST","MHK VL",61756,630
3885     01/01/2004 23:45:47,"EST","MILLWD",61759,196
3886  01/01/2004 23:45:47,"EST","N.Y.C._LONGIL",,6850
3887      01/01/2004 23:45:47,"EST","NORTH",61755,663
3888      01/01/2004 23:45:47,"EST","WEST",61752,1540
3889     01/01/2004 23:50:47,"EST","CAPITL",61757,997
3890    01/01/2004 23:50:47,"EST","CENTRL",61754,1635
3891     01/01/2004 23:50:47,"EST","DUNWOD",61760,587
3892     01/01/2004 23:50:47,"EST","GENESE",61753,917
3893    01/01/2004 23:50:47,"EST","HUD VL",61758,1038
3894     01/01/2004 23:50:47,"EST","MHK VL",61756,629
3895     01/01/2004 23:50:47,"EST","MILLWD",61759,197
3896  01/01/2004 23:50:47,"EST","N.Y.C._LONGIL",,6807
3897      01/01/2004 23:50:47,"EST","NORTH",61755,657
3898      01/01/2004 23:50:47,"EST","WEST",61752,1524
3899     01/01/2004 23:55:17,"EST","CAPITL",61757,976
3900    01/01/2004 23:55:17,"EST","CENTRL",61754,1628
3901     01/01/2004 23:55:17,"EST","DUNWOD",61760,578
3902     01/01/2004 23:55:17,"EST","GENESE",61753,905
3903    01/01/2004 23:55:17,"EST","HUD VL",61758,1030
3904     01/01/2004 23:55:17,"EST","MHK VL",61756,627
3905     01/01/2004 23:55:17,"EST","MILLWD",61759,198
3906  01/01/2004 23:55:17,"EST","N.Y.C._LONGIL",,6771
3907      01/01/2004 23:55:17,"EST","NORTH",61755,658
3908      01/01/2004 23:55:17,"EST","WEST",61752,1509

[3909 rows x 1 columns]

In [8]:
df.dtypes

Time Stamp,"Time Zone","Name","PTID";"Load"    object
dtype: object