In [3]:
# Task 7 - Look for Duplicate Entries and Decide whether or not to remove them
import pandas as pd

In [4]:
users = pd.read_csv("duplicate.csv")

In [13]:
users.head()

     Time Stamp,"Time Zone","Name","PTID","Load"
0  01/01/2004 00:00:00,"EST","CAPITL",61757,1015
1  01/01/2004 00:00:00,"EST","CAPITL",61757,1015
2  01/01/2004 00:00:00,"EST","CENTRL",61754,1651
3   01/01/2004 00:00:00,"EST","DUNWOD",61760,618
4   01/01/2004 00:00:00,"EST","GENESE",61753,972

In [15]:
users.duplicated() # Find duplicates - Method 1

0       False
1        True
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
3881    False
3882    False
3883    False
3884    False
3885    False
3886    False
3887    False
3888    False
3889    False
3890    False
3891    False
3892    False
3893    False
3894    False
3895    False
3896    False
3897    False
3898    False
3899    False
3900    False
3901    False
3902    False
3903    False
3904    False
3905    False
3906    False
3907    False
3908    False
3909    False
3910    False
Length: 3911, dtype: bool

In [16]:
users.duplicated().sum()

1

In [21]:
users.loc[users.duplicated(keep = False), : ] # Find duplicates - Method 2

     Time Stamp,"Time Zone","Name","PTID","Load"
0  01/01/2004 00:00:00,"EST","CAPITL",61757,1015
1  01/01/2004 00:00:00,"EST","CAPITL",61757,1015

In [24]:
users.loc[users.duplicated(keep = 'first'), : ]

     Time Stamp,"Time Zone","Name","PTID","Load"
1  01/01/2004 00:00:00,"EST","CAPITL",61757,1015

In [25]:
users.loc[users.duplicated(keep = 'last'), : ]

     Time Stamp,"Time Zone","Name","PTID","Load"
0  01/01/2004 00:00:00,"EST","CAPITL",61757,1015

In [27]:
users.shape # 1 column and 3911 rows - including duplicates

(3911, 1)

In [28]:
users.drop_duplicates(keep = 'first').shape # 1 column and 3910 rows - after duplicates have been removed

(3910, 1)